* { margin:0; padding:0; }

/*Navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #015250;

  }

li {
    float:left;
  }

  /* Style the top navigation bar */
  .topnav {
    position: sticky;
    overflow: hidden;
    background-color: #015250;
  }

  /* Style the topnav links */
.topnav a {
    position: sticky;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    position: sticky;
    background-color: #FD7C01;

    color: black;
  }

h1 {
    text-align: center;
    background-color: #233342;
}

html { width:100vw; height:100vh; } /* just to be sure these are full screen*/
        
body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

canvas { 
   overflow: hidden;
   width:100vw;
   height:100vh;
   background-color:black;
   z-index: -1;
}

.carousel-container {
            display: flex;
            overflow-x: auto; /* Enable horizontal scrolling */
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
        }
        .repo-block {
            flex: 0 0 auto;
            width: 300px; /* Adjust the width as needed */
            margin-right: 10px; /* Adjust the spacing between blocks */
            scroll-snap-align: start;
            border: 1px solid #ddd;
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

a {
    color: #0366d6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

holdcontainer {
  width:50vw;
  height:50vh;
  z-index: 1;
}